body{
  background-size: cover;
  background-color: black;
}
.bgimg{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .0175;
  z-index: -1;
}

.back-button {
  background: none;
  color: white;
  /* margin-left: 10%;
  margin-right: 10%; */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  /* outline: 1px solid; */
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: goldenrod;
  margin-left:35%;
}

.container-inline {
  position:sticky;
}


.btnClearItem {
  margin: 10px 10px;
  border-color: goldenrod;
  padding: 10px;
  background-color: black;
  color: white;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0px;

  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-offset: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: goldenrod;
  
}

